<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneblogiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE4592E81B4D4AE80052228E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE4593011B4D4AE90052228E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE45930C1B4D4AE90052228E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
